* {
  margin: 0 auto;
  color: #dff3e5;
  text-shadow: 0px 1px 3px #ffffff;
  font-family: 'Marck Script', cursive;
}
body{
  background-image: radial-gradient(circle farthest-corner at center, #3C4B57 0%, #1C262B 100%);
}
.container{
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slider_container{
  width: 600px;
  margin-bottom: 40px;
}

.search-form{
  width: 50%;
}

.form-control{
  width: 100%;
  height: 35px;
  border-radius: 35px;
  text-align: center;
  color: #265b7d;
  text-shadow: 0px 1px 3px #466f93;
  border: 1px solid rgb(47 119 164 / 30%);
  font-size: 30px;
  padding: 10px;
}

.loader {
  /* position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px); */
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}
.loader p{
  position: absolute;
  top: 50%;
  text-align: center;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;  
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #4f4f89;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #994d5a;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #58a966;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}